snippet #!


	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
snippet imp
	import ${0:module}
snippet uni
	def __unicode__(self):
		${0:representation}
snippet def
	def func(${0}):
		print('hi')
		print(a)
		return('hi')
		func(5)
